<p>Bonjour</p>
<p>Voici la liste des cours facturés il y a plus de 15 jours et qui ne sont toujours pas payés.</p>

<div class="the-box">
	<div class="table-responsive">
		<table class="table table-striped table-hover datatable" id="lessons_to_callback">
			<thead class="the-box dark full">
				<tr>
          <th>Type de cours</th>
          <th>Date du cours</th>
					<th>Elève</th>
					<th>Professeur</th>
          <th>Montant</th>
					<th>Numéro de facture</th>
			</thead>
			<tbody id="lessons_to_callback_data">
        <% @unpaid_lessons.each do |lesson| %>
					<tr id="lesson_to_callback<%= lesson.id %>">
            <td><%= lesson.item_sold %></td>
            <td><%= lesson.invoice_date.strftime("%d/%m/%Y") if lesson.invoice_date.present? %></td>
						<th><%= lesson.student.name %></th>
						<th><%= lesson.teacher_name %></th>
            <td><%= lesson.full_price - lesson.discount %></td>
						<th><%= lesson.invoice.numero %></th>
          </tr>
        <% end %>
			</tbody>
		</table>
	</div>
</div>
