<%= form_for([:admin, @lesson], :html => { :multipart => true, :class => "validatable_form", :'data-bv-message' => "This value is not valid", :'data-bv-feedbackicons-valid' => "glyphicon glyphicon-ok", :'data-bv-feedbackicons-invalid' => "glyphicon glyphicon-remove", :'data-bv-feedbackicons-validating' => "glyphicon glyphicon-refresh" }) do |f| %>
  <div class="row">
  	<div class="col-sm-6">
  		<div class="the-box">

        <div class="form-group">
          <label>Date du cours :</label>
          <%= f.text_field :invoice_date, value: (f.object.invoice_date.strftime("%d/%m/%Y") if f.object.invoice_date.present?), class: "form-control", :required => 'required', :'data-bv-notempty-message' => "Une date est obligatoire", id: "start-date", disabled: (true if @lesson.invoice.present? && @lesson.invoice.sending_date.present?) %>
        </div>

        <div class="form-group">
          <label>Type de cours :</label>
          <%= f.text_field :item_sold, :class => "form-control", :required => 'required', :'data-bv-notempty-message' => "Un type de cours est obligatoire.", disabled: (true if @lesson.invoice.present? && @lesson.invoice.sending_date.present?)%>
        </div>

        <div class="form-group">
          <label>Elève :</label>
          <%= f.select :student_id, Student.all.collect {|s| [s.name, s.id]}, {}, {:class => "form-control chosen-select", :required => 'required', :'data-bv-notempty-message' => "Un élève est obligatoire.", data: {placeholder: 'Choisissez'}, disabled: (true if @lesson.invoice.present? && @lesson.invoice.sending_date.present?)} %>
        </div>

        <div class="form-group">
          <label>Professeur :</label>
          <%= f.text_field :teacher_name, :class => "form-control", disabled: (true if @lesson.invoice.present? && @lesson.invoice.sending_date.present?) %>
        </div>

        <div class="form-group">
          <label>Prix du cours :</label>
          <%= f.text_field :full_price, :class => "form-control", disabled: (true if @lesson.invoice.present? && @lesson.invoice.sending_date.present?) %>
        </div>

        <div class="form-group">
          <label>Réduction :</label>
          <%= f.text_field :discount, :class => "form-control", disabled: (true if @lesson.invoice.present? && @lesson.invoice.sending_date.present?) %>
        </div>
	  
			  <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Enregistrer</button>
  		</div>
    </div>
  </div>
<% end %>