<!-- Begin page heading -->
<h1 class="page-heading">Réservations</h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
	<li><a href="/admin"><i class="fa fa-home"></i></a></li>
	<li class="active">Réservations</li>
</ol>
<!-- End breadcrumb -->

<!--<a class="btn btn-info btn-perspective" href="<%= new_admin_lesson_path %>"><i class="fa fa-plus"></i> Nouvelle réservation</a>-->

<h4 class="small-title" style="margin-top: 30px">NOUVELLES RESERVATIONS</h4>

<%= form_tag import_admin_lessons_path, multipart: true do %>
  <div class="row">
    <div class="col-sm-6">
      <div class="the-box">
        <div class="form-group">
          <label>Importer des réservations à partir d'un fichier Excel</label>
          <%= file_field_tag :file, class: "form-control" %>
        </div>
        <%= submit_tag "Enregistrer", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
<% end %>

<%= render partial: "unpaid_lessons" %>
<%= render partial: "billed_lessons" %>
<%= render partial: "billable_lessons" %>

