<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag 'sentir' -%>
</head>
<body>
  <header>
    <div class="row">
      <div class="col-sm-6">
        <h1>Azerteach asbl</h1>
        <p>Avenue Winston Churchill, 67<br />
          1180 Bruxelles<br />
          02 345 48 37<br />
          hello@azerteach.com<br />
        </p>
        <p>N° d'entreprise : BE 0564.931.166</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p><%= expense_export.teacher.name %><br />
          <%= expense_export.teacher.address_line_1 %><br />
          <%= expense_export.teacher.address_line_2 %><br />
        </p>
        <% if expense_export.sending_date.present? %>
          <p>Bruxelles, le <%= expense_export.sending_date.strftime("%d/%m/%Y") %></p>
        <% else %>
          <p>Bruxelles, le <%= expense_export.updated_at.strftime("%d/%m/%Y") %></p>
        <% end %>
      </div>
    </div>
  </header>
  <main>
    <h1>Note de frais n° <%= expense_export.numero %></h1>
    <table class="table table-striped table-hover datatable" id="lessons-datatable">
    <thead class="the-box dark full">
    <tr>
      <th style="width:200px">Type de cours</th>
      <th style="width:200px">Date</th>
      <th style="width:200px">Durée (h)</th>
      <th style="width:200px">Prix (€)</th>
    </tr>
    </thead>
    <tbody id="lessons_data">
    <% expense_export.lessons.order("lessons.start_date ASC").each do |lesson| %>
      <tr id="lesson_<%= lesson.id %>">
        <td><%= lesson.product.name if lesson.product.present? %></td>
        <td><%= lesson.start_date.strftime("%d/%m/%Y") if lesson.start_date.present? %></td>
        <td><%= lesson.duration if lesson.start_date.present? && lesson.end_date.present? %></td>
        <td><%= lesson.expenses  %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td><strong>Total</strong></td>
      <td><%= expense_export.amount %></td>
    </tr>
    </tbody>
    </table>
  </main>
  <footer>
  </footer>
</body>
</html>