<h1 class="page-heading">Factures</h1>

<ol class="breadcrumb default square rsaquo sm">
	<li><a href="/admin"><i class="fa fa-home"></i></a></li>
	<li class="active">Factures</li>
</ol>

<%= render partial: "counters" %>

<div class="the-box hidden" id="billable-lessons-table">
	<%= render partial: 'billable_lessons' %>
</div>
<div class="the-box hidden" id="billed-lessons-table">
	<%= render partial: 'billed_lessons' %>
</div>
<div class="the-box hidden" id="unpaid-lessons-table">
	<%= render partial: 'unpaid_lessons' %>
</div>
<div class="the-box hidden" id="invoices-table">
	<%= render partial: 'invoices' %>
</div>
