<!-- Begin page heading -->
<h1 class="page-heading">Administrateurs</h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
	<li><a href="/admin"><i class="fa fa-home"></i></a></li>
	<li class="active">Administrateurs</li>
</ol>
<!-- End breadcrumb -->

<a class="btn btn-info btn-perspective" href="<%= new_admin_user_path %>"><i class="fa fa-plus"></i> Nouvel administrateur</a>

<!-- Begin static table -->
<h4 class="small-title" style="margin-top: 30px">ADMINISTRATEURS</h4>

<div class="the-box">
	<div class="table-responsive">
		<table class="table table-striped table-hover datatable" id="users-datatable">
			<thead class="the-box dark full">
				<tr>
          <th style="width:200px">Actions</th>
          <th style="width:50px">ID</th>
          <th style="width:200px">Email</th>
          <th style="width:200px">Prénom</th>
          <th style="width:200px">Nom</th>
                  </tr>
			</thead>
			<tbody id="users_data">
        <% @users.each do |user| %>
          <tr id="users_<%= user.id %>">
            <td>
              <a class="btn btn-info" href="<%= edit_admin_user_path(user) %>"><i class="fa fa-pencil"></i> Modifier</a>
              <a class="btn btn-danger delete-record" data-id="<%= user.id %>" data-type="users"><i class="fa fa-trash-o"></i> Supprimer</a>
            </td>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.firstname %></td>
            <td><%= user.lastname %></td>
            
          </tr>
        <% end %>
			</tbody>
		</table>
	</div><!-- /.table-responsive -->
</div><!-- /.the-box -->
<!-- End static table -->