<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Admin</title>
    <%= stylesheet_link_tag 'sentir' %>
    <%= javascript_include_tag 'sentir' %>
    
    <%= csrf_meta_tags %>
 
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
 
	<body class="tooltips">
	
		
		
		
		<!--
		===========================================================
		BEGIN PAGE
		===========================================================
		-->
		<div class="wrapper">
			<!-- BEGIN TOP NAV -->
			<div class="top-navbar">
				<div class="top-navbar-inner">
					
					<!-- Begin Logo brand -->
					<div class="logo-brand">
						<a href="/admin"><%= image_tag 'sentir/logo.png' %></a>
					</div><!-- /.logo-brand -->
					<!-- End Logo brand -->
					
					<div class="top-nav-content">
						
						<!-- Begin button sidebar left toggle -->
						<div class="btn-collapse-sidebar-left">
							<i class="fa fa-bars"></i>
						</div><!-- /.btn-collapse-sidebar-left -->
						<!-- End button sidebar left toggle -->
						
						<!-- Begin button nav toggle -->
						<div class="btn-collapse-nav" data-toggle="collapse" data-target="#main-fixed-nav">
							<i class="fa fa-plus icon-plus"></i>
						</div><!-- /.btn-collapse-sidebar-right -->
						<!-- End button nav toggle -->
						
						
						<!-- Begin user session nav -->
						<ul class="nav-user navbar-right">
							<li class="dropdown">
							  <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.email %>
							  </a>
							  <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
								<li><a href="/users/sign_out" data-method="delete" rel="nofollow">Déconnexion</a></li>
							  </ul>
							</li>
						</ul>
						<!-- End user session nav -->
					</div><!-- /.top-nav-content -->
				</div><!-- /.top-navbar-inner -->
			</div><!-- /.top-navbar -->
			<!-- END TOP NAV -->
			
			
			
			<!-- BEGIN SIDEBAR LEFT -->
			<div class="sidebar-left sidebar-nicescroller">
				<ul class="sidebar-menu">
					<li>
						<a href="/admin">
							<i class="fa fa-dashboard icon-sidebar"></i>
							Tableau de bord
						</a>
					</li>
					<li>
						<a href="/admin/users">
							<i class="fa fa-users icon-sidebar"></i>
							Administrateurs
						</a>
					</li>
          <li>
            <a href="/admin/students">
              <i class="fa fa-users icon-sidebar"></i>
              Elèves
            </a>
          </li>
          <li>
            <a href="/admin/teachers">
              <i class="fa fa-users icon-sidebar"></i>
              Professeurs
            </a>
          </li>
          <li>
            <a href="/admin/products">
              <i class="fa fa-users icon-sidebar"></i>
              Types de cours
            </a>
          </li>
          <li>
            <a href="/admin/lessons">
              <i class="fa fa-users icon-sidebar"></i>
              Réservations
            </a>
          </li>
          <li>
            <a href="/admin/invoices">
              <i class="fa fa-users icon-sidebar"></i>
              Factures
            </a>
          </li>
				</ul>
			</div><!-- /.sidebar-left -->
			<!-- END SIDEBAR LEFT -->
			
			
			<!-- BEGIN PAGE CONTENT -->
			<div class="page-content">
				<div class="container-fluid">
          <%= flash_message(flash) %>
          <%= yield %>
				</div><!-- /.container-fluid -->
				
				
				<!-- BEGIN FOOTER -->
				<footer>
					&copy; 2017 <a href="https://www.azerteach.com/">Azerteach</a>
				</footer>
				<!-- END FOOTER -->
				
				
			</div><!-- /.page-content -->
		</div><!-- /.wrapper -->
		<!-- END PAGE CONTENT -->
		
		
	
		<!-- BEGIN BACK TO TOP BUTTON -->
		<div id="back-top">
			<a href="#top"><i class="fa fa-chevron-up"></i></a>
		</div>
		<!-- END BACK TO TOP -->
		
		
		<!--
		===========================================================
		END PAGE
		===========================================================
		-->
	</body>
</html>